.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 0 4%;
}

@media (max-width: 990px){
  .title {
    font-size: 7rem;
}
}
body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Marck Script', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  padding: 2% 4%;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Courgette', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Courgette', cursive;

}
